{% extends 'base.html' %}
{% block content %}
<!-- Main Start -->
<main>
	<!-- Services -->
	<section class="container my-4" id="userFitness">
		<div class="text-center h3 mb-5">Fitness exercises</div>
		<div class="row">
			{% for eimg in fitness_ex %}

			<div class="col-md">
				<div class="card" style="width: 200px;height: 250px;">
					<img src="{{eimg.exercise_img.url}}" class="card-img-top" alt="{{eimg.alt_text}}">
					<div class="card-body">
						<div class="card-title text-center">{{eimg.exercise_name}}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	<!-- End -->
</main>
<!-- End -->
{% endblock %}