{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4" id="">
			<h1 class="text-center h3 mb-5">Fitness type</h1>
			<div class="row">
				{% for user_exercises_type in user_exercises_types %}
				<div class="col-md-4 mb-4">
					<div class="card">
					  <div class="card-body">
					    <h5 class="card-title text-capitalize">{{user_exercises_type.fitness_type_id}}</h5>
					    <a
							
							href="{% url 'userexcercises' user_exercises_type.fitness_type_id %}" class="btn btn-primary">View All</a>
					  </div>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}